@tailwind base;
@tailwind components;

.default-button {
  @apply bg-white text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow;
}

.default-button:hover {
  @apply bg-gray-100;
}

@tailwind utilities;
